workflows/agente_IA.json
{
  "name": "agente_IA",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "Você é um assistente prestativo, responda sempre em um tom amigável e criativo, seja claro e objetivo, responda em no máximo um parágrafo curto."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -344,
        -312
      ],
      "id": "2cb26a14-0c4c-4adb-9a85-dcea54d89604",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        360,
        -216
      ],
      "id": "83ff912b-0228-4175-902c-a1e5179d635b",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "hV01Gk8vljo6T3P9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -464,
        1128
      ],
      "id": "69a16263-b04e-4d71-b1f2-267f280b5030",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OAdg4ZBOlpL9Gxjo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -464,
        -88
      ],
      "id": "9452ec91-0c33-44a6-83c6-6d173bdfe781",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Use essa ferramenta para obter o preço do Bitcoin, somente quando o usuário pedir",
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=brl&include_last_updated_at=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -336,
        -88
      ],
      "id": "8ed2c761-bc94-4f4f-b51a-c0f50757d779",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "toolDescription": "Use essa tool quando o usuário pedir por notícias ou perguntar por novidades.",
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [
        -208,
        -88
      ],
      "id": "b205f230-bb87-4ff5-9485-d7c52663d5f5",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! 👋\nSou o seu assistente virtual  como eu poderia te ajudar?",
        "options": {
          "subtitle": "Estamos aqui para ajudar você 24hrs por dia, 7 dias por semana.",
          "title": "Olá! 👋"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -200,
        -504
      ],
      "id": "a1460c3a-568f-4ba8-9409-e8dd7366e93e",
      "name": "When chat message received",
      "webhookId": "55f86c58-7926-4f07-ac0f-70785520714b"
    },
    {
      "parameters": {
        "toolDescription": "Use essa tool somente quando o usuário estiver enviando alguma dúvida técnica. Se não souber a resposta, digite que sua dúvida foi encaminhada para o suporte técnico.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -80,
        -88
      ],
      "id": "ad5f0c6d-efe8-4167-aa5b-8358656f42fa",
      "name": "AI Agent Tool"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -64,
        120
      ],
      "id": "0697347e-c0bc-4860-8f59-6aaf57dc4a0b",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "hV01Gk8vljo6T3P9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa tool para adicionar na planilha quando o usuário fizer uma pergunta técnica",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1l4xq7fL0kFZspXaMhmVP4G5zOweMEuDCKa4bztR6qXQ",
          "mode": "list",
          "cachedResultName": "chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l4xq7fL0kFZspXaMhmVP4G5zOweMEuDCKa4bztR6qXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l4xq7fL0kFZspXaMhmVP4G5zOweMEuDCKa4bztR6qXQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.sessionId }}",
            "mensagem": "={{ $json.chatInput }}",
            "data": "={{ $now.toFormat('dd/MM/yyyy hh:mm') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        64,
        120
      ],
      "id": "c3495873-cfa3-497a-b3b3-725c9180f88d",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fEQZxc2vyP1Ab07M",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Classifique a mensagem em apenas uma das seguintes categorias: 'Dúvida Geral', 'Feedback', 'Problema Técnico' ou 'Outros'. Responda somente com o nome da categoria escolhida, sem explicações, texto adicional ou pontuação ao final"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1200,
        -352
      ],
      "id": "23b08f2a-b56c-4d7b-b44b-349ec6b59ed6",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Dúvida geral",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "143bc6fd-03b0-4bb6-973a-25f142b4e625"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Dúvida geral"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "97f5c0b6-44a0-4186-ae1a-9c939d73148a",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Feedback",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Feedback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f0deef2f-bc16-4e71-90d8-183c66dfc53c",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Problema técnico",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Problema técnico"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b0db8bd2-1ccf-40d4-a76e-5f572d2b12b5",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Outros",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Outros"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1552,
        -384
      ],
      "id": "1f14e969-f295-47a0-b51a-bffca2d7e3c3",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1776,
        -640
      ],
      "id": "a8e12671-64b6-4ce9-8c64-0670951df842",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1776,
        -448
      ],
      "id": "231ec447-a55f-40b5-ab35-c50ab617a48b",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1776,
        -256
      ],
      "id": "4705e89d-6a3a-4b8f-a2f0-b0d6dae4f3ff",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1776,
        -64
      ],
      "id": "90022c19-e1f3-415c-82a6-ca13e366c2f7",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "content": "### Abordagem 1 classificação",
        "height": 800,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        -672
      ],
      "typeVersion": 1,
      "id": "7bd86a21-cb97-455b-8a36-93ec03aefc06",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputText": "={{ $json.chatInput }}",
        "categories": {
          "categories": [
            {
              "category": "Dúvida geral"
            },
            {
              "category": "Feedback"
            },
            {
              "category": "Problema técnico"
            },
            {
              "category": "Outros"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        288,
        -504
      ],
      "id": "b6ecb45f-ece7-424e-a6a1-a1b09c1b22b3",
      "name": "Text Classifier"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        -784
      ],
      "id": "fcdd9cd0-a665-4d75-91dc-6fe56a071602",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        -592
      ],
      "id": "b99520df-01dd-498b-b1de-9adfee4572e1",
      "name": "No Operation, do nothing5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        -400
      ],
      "id": "ec53edda-60c2-4773-8e57-16ea5415483a",
      "name": "No Operation, do nothing6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        -208
      ],
      "id": "c50ce85a-e446-4d0d-bc39-d479a0c51dcc",
      "name": "No Operation, do nothing7"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Tool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "39625713-91fe-43cf-8a96-9e9d07ebfec6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "426fe311161d7f1f4f64dd898df580e2c7b62c8c50548d914160cc4832c991db"
  },
  "id": "tpAYUbyglaOoTddKcJzCZ",
  "tags": []
}