workflows/API RESt.json
{
  "name": "API RESt",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "77ff83c6-00b9-4b28-a53a-5f0e256ff78f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://viacep.com.br/ws/{{ $json.cep }}/json/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "98400b5c-3f99-4623-9584-008fab4b4b13",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "238300a1-ebb1-4b68-ae5f-f88adc0df209",
              "name": "cep",
              "value": "08223272",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "a893cbf7-6d1c-4b00-872e-3fc492698ffe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "### Obter dados CEP",
        "height": 192,
        "width": 672,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -32
      ],
      "typeVersion": 1,
      "id": "30159053-5644-4179-b850-f9abc4895023",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        272
      ],
      "id": "7d188b93-f22d-479a-a3c6-765ed28e2201",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=brl&include_last_updated_at=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        272
      ],
      "id": "f6f57567-f467-4928-9e2e-7008a407974a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1v3XFh0Jy2v74J6hR0q5J985M9pFIENZR42E4JkNZOIE",
          "mode": "list",
          "cachedResultName": "biticoin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v3XFh0Jy2v74J6hR0q5J985M9pFIENZR42E4JkNZOIE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v3XFh0Jy2v74J6hR0q5J985M9pFIENZR42E4JkNZOIE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Valor ": "={{ $json.bitcoin.brl }}",
            "Data": "={{ new Date($json.bitcoin.last_updated_at * 1000).toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Valor ",
              "displayName": "Valor ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        272
      ],
      "id": "475268ad-a6e2-4f18-9b24-d4a9f212e14b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fEQZxc2vyP1Ab07M",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Obter valor moeda",
        "height": 224,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        208
      ],
      "typeVersion": 1,
      "id": "5188270a-5365-448f-9751-225a7ee43fc5",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e957d04d-0d01-4220-a565-ecf31a3be2e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "426fe311161d7f1f4f64dd898df580e2c7b62c8c50548d914160cc4832c991db"
  },
  "id": "o1FfuKHzmpfLOZrB6BYPW",
  "tags": []
}