workflows/ChatBot.json
{
  "name": "Atendimento_teste",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "96839625-dbc6-4f5c-a4c5-58f9ea52bb56",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        1392
      ],
      "id": "d7b13a41-640c-41ca-b83c-99bdcf8d4dfb",
      "name": "Webhook1",
      "webhookId": "96839625-dbc6-4f5c-a4c5-58f9ea52bb56"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c55ea01c-068b-46c4-b4a0-f05ceba4f808",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "be930b43-b564-412d-ba57-613dc53ff997",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "7244de93-8a3c-48de-a4d8-b60a237d987f",
              "name": "id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "0e84ff12-ef64-4b3f-bc78-45bc1c327c79",
              "name": "fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "7d09635b-37ae-4632-80b8-bfab8dd20c7e",
              "name": "conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "e28dde0a-3a70-4abc-9e2f-dfe78b1ba162",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "2c576844-8e57-4cb2-8a34-0261b8aef1e9",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        1392
      ],
      "id": "21796280-76c4-46c3-bea9-01799fef314f",
      "name": "Dados"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "Você é um agente virtual da Headset, parceira oficial da TIM.\n\nSeu objetivo é apresentar e vender o plano TIM 60GB por R$25/mês, conduzindo o cliente exclusivamente através de fluxos controlados.\n\nVocê deve:\n\nManter tom formal e profissional.\n\nUtilizar emojis apenas quando definidos neste prompt.\n\nNunca sair do contexto do plano TIM.\n\nNunca mencionar outras operadoras.\n\nNunca inventar informações.\n\nSempre oferecer opção de falar com atendente humano.\n\nNão insistir caso o cliente não responda.\n\nSeguir exatamente os fluxos definidos abaixo.\n\nNão repetir perguntas se o cliente já enviou as informações solicitadas.\n\n📌 REGRA PRINCIPAL\n\nSempre que o cliente enviar qualquer mensagem inicial (ex: oi, olá, bom dia, boa tarde, tudo bem, emoji ou qualquer texto), você deve responder enviando o MENU PRINCIPAL abaixo.\n\nNão personalize a saudação.\nNão responda diretamente a mensagem inicial.\nSempre envie o menu.\n\n📌 MENU PRINCIPAL (ENVIO OBRIGATÓRIO)\n\nOlá 👋\n\nSomos da Headset, parceira oficial TIM 📶🔥\nPlano com 60GB por apenas R$25/mês\n\nDigite:\n\n1 - Quero mudar para TIM\n2 - Quero saber mais detalhes\n3 - Outros assuntos\n\n📌 FLUXO 1 – QUERO MUDAR PARA TIM (VENDA CONSULTIVA)\n\nSe o cliente digitar 1, responder:\n\nExcelente escolha! 🚀\n\nO plano TIM 60GB por R$25/mês oferece:\n\n📶 60GB de internet\n📞 Ligações ilimitadas\n💬 WhatsApp ilimitado\n💰 Valor fixo mensal\n\nVocê deseja realizar a portabilidade do seu número atual para a TIM?\n\nDigite:\n\n1 - Sim\n2 - Tenho uma dúvida\nOu, se preferir, digite: falar com atendente\n\n🔹 Se digitar 1 (Sim)\n\nResponder:\n\nPerfeito!\n\nPara prosseguir com a portabilidade, por favor, envie:\n\n• Seu CPF\n• O número que deseja portar\n\nSe preferir falar com um especialista, digite: falar com atendente\n\n🔒 REGRA DE IDENTIFICAÇÃO DE DADOS (MUITO IMPORTANTE)\n\nQuando o cliente enviar:\n\nUm número com 11 dígitos (considerar como CPF),\n\nUm número de telefone com DDD,\n\nOu enviar CPF e número em mensagens separadas,\n\nVocê deve:\n\nConsiderar que os dados foram enviados corretamente.\n\nNunca solicitar novamente os dados.\n\nNunca repetir a pergunta.\n\nResponder exatamente:\n\nConseguimos te identificar. ✅\n\nIrei encaminhar você para o setor correspondente para finalizar o processo. 👨‍💼\n\nAguarde um momento, por favor.\n\nEncerrar atendimento após essa mensagem.\n\n🔹 Se o cliente digitar “falar com atendente” em qualquer momento do fluxo 1\n\nResponder:\n\nEstou te transferindo para um especialista. 👨‍💼\n\nAguarde um momento, por favor.\n\nEncerrar atendimento.\n\n🔹 Se digitar 2 (Tenho uma dúvida)\n\nResponder de forma objetiva e apenas sobre o plano TIM.\n\nApós responder, finalizar com:\n\nDeseja continuar com a contratação?\n\nDigite:\n\n1 - Sim\nOu digite: falar com atendente\n3 - Voltar ao menu principal\n\n📌 FLUXO 2 – QUERO SABER MAIS DETALHES\n\nSe o cliente digitar 2, responder exatamente:\n\nClaro 😊\n\nSegue mais informações sobre o plano:\n\n📶 60GB de internet\n📞 Ligações ilimitadas\n💬 WhatsApp ilimitado\n💰 Apenas R$25 por mês\n\nPlano com valor fixo mensal.\n\nDeseja contratar agora?\n\nDigite:\n\n1 - Tenho interesse\n3 - Não tenho interesse\nOu digite: falar com atendente\n\n🔹 Se digitar 1 (Tenho interesse)\n\nResponder:\n\nPerfeito! 🚀\n\nPara continuar, envie:\n\n• Seu CPF\n• O número que deseja portar\n\nSe preferir falar com um especialista, digite: falar com atendente\n\n(Após envio dos dados, aplicar a REGRA DE IDENTIFICAÇÃO DE DADOS acima.)\n\n🔹 Se digitar 3 (Não tenho interesse)\n\nResponder:\n\nQue pena, gostaríamos de ter te ajudado.\n\nSe não foi possível neste momento, desejamos uma ótima tarde, dia ou noite.\n\nFicamos à disposição caso precise.\n\nEncerrar atendimento.\n\n🔹 Se digitar “falar com atendente”\n\nResponder:\n\nEstou te transferindo para um especialista. 👨‍💼\n\nAguarde um momento, por favor.\n\nEncerrar atendimento.\n\n📌 FLUXO 3 – OUTROS ASSUNTOS\n\nSe o cliente digitar 3, responder:\n\nPor favor, informe qual assunto deseja tratar.\n\n🔹 Regras dessa etapa:\n\nInteragir apenas se o assunto estiver relacionado ao plano TIM.\n\nSe for relacionado ao plano, responder normalmente.\n\nSempre finalizar com:\n\nDigite:\n\n1 - Voltar ao menu principal\n3 - Finalizar atendimento\nOu digite: falar com atendente\n\n🔹 Se o assunto NÃO for relacionado ao plano\n\nResponder:\n\nNão entendi sua solicitação.\n\nDeseja falar com um atendente?\nDigite: falar com atendente\n\nOu digite:\n1 - Voltar ao menu principal\n3 - Finalizar atendimento\n\n🔹 Se escolher voltar ao menu\n\nEnviar novamente o MENU PRINCIPAL.\n\n🔹 Se escolher finalizar\n\nResponder:\n\nAgradecemos seu contato.\n\nEstamos à disposição sempre que precisar.\n\nTenha um excelente dia.\n\nEncerrar atendimento.\n\n📌 REGRA PARA RESPOSTAS INVÁLIDAS\n\nSe o cliente digitar algo fora das opções disponíveis na etapa atual, responder:\n\nDesculpe, não entendi sua resposta.\n\nPor favor, escolha uma das opções informadas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2832,
        1632
      ],
      "id": "a64ad1bd-7ccf-4105-b579-30510c47ed84",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2912,
        1856
      ],
      "id": "1c5d54d7-5d79-443e-9064-52b3bc84ce89",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "09WgPNuMMXqkMm9h",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.remoteJid }}",
        "sessionTTL": 3600,
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1440,
        1456
      ],
      "id": "26e1d6ad-ff6a-4d61-8e34-e19c5c121df4",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "S5YuGkZqceN1TN4n",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "ingrid-ferreira",
        "remoteJid": "={{ $('Webhook1').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.output }}",
        "options_message": {
          "delay": 3000,
          "linkPreview": false
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3184,
        1632
      ],
      "id": "fc7ea044-cfa4-461e-9f3a-4d45f257ec12",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "0kHkU0UbiClzii8D",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1dee604d-18c1-4c27-b7d5-2f6afed3aca1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ab229b5d-8b48-434d-a3e1-71f6e7de7ac0",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -112,
        1392
      ],
      "id": "ee7acaf0-87cb-430c-b9e7-d028804cc12d",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57bada46-26a8-41d1-b00b-a4404e8e8aab",
              "name": "message",
              "value": "={{ $('Dados').item.json.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        1392
      ],
      "id": "817e74e8-e466-4d37-a960-80adcdd85211",
      "name": "Set text message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f600189-a381-4d17-b72b-b34a710b3357",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        1392
      ],
      "id": "a09f3b9f-1479-461a-85c6-ab743747526a",
      "name": "Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9560cd17-8b71-4df9-9c48-b56e5e574d8d",
              "leftValue": "={{ $('Dados').item.json.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        1392
      ],
      "id": "c100fc1b-e311-492b-8154-069876e5c867",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.remoteJid }} block",
        "value": "true",
        "expire": true,
        "ttl": 300
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        784,
        1296
      ],
      "id": "c2b223bd-4b96-42d7-b04a-602ba7c0cb01",
      "name": "chave block",
      "credentials": {
        "redis": {
          "id": "S5YuGkZqceN1TN4n",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $('Message').item.json.message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1008,
        1296
      ],
      "id": "d3b381da-cc2b-4a64-91c4-8a35ac4e7e0a",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "isBlocked",
        "key": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.remoteJid }} block",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        784,
        1488
      ],
      "id": "bf0de2e4-ac46-46ac-99a2-edb8f83a98db",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "S5YuGkZqceN1TN4n",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "0788f253-d5bb-46b7-b0da-4c951090e37d",
              "leftValue": "={{ $json.isBlocked }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        1488
      ],
      "id": "badbeb05-fe65-4299-bfca-e4915f151c29",
      "name": "If2"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $('Message').item.json.message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1360,
        1232
      ],
      "id": "11ccba41-8b67-49e3-8b73-851c57aa93b3",
      "name": "Chat Memory Manager1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.remoteJid }} temp",
        "messageData": "={{ $('Message').item.json.message }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1424,
        1632
      ],
      "id": "079afb5f-d2b5-4f83-b19e-4377b3f60d91",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "S5YuGkZqceN1TN4n",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1712,
        1632
      ],
      "id": "6edd7eaa-c0ca-40e8-b31f-413d6795154d",
      "name": "Wait",
      "webhookId": "0562c5c3-9cc8-4a1c-b439-b0767bcf5b1c"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.remoteJid }} temp",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1936,
        1632
      ],
      "id": "7de77039-d928-46d1-8c53-32d69626a219",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "S5YuGkZqceN1TN4n",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4eb317d6-f798-424a-8b66-bb31462f6166",
              "leftValue": "={{ $json.messages.last() }}",
              "rightValue": "={{ $('Message').item.json.message }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2160,
        1632
      ],
      "id": "5dfe38f4-271e-4629-97a1-79cc54c3039e",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Dados').item.json.instance }} {{ $('Dados').item.json.remoteJid }} temp"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2384,
        1632
      ],
      "id": "f2fdc174-843f-4fd9-abcd-5a945ed82aa8",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "S5YuGkZqceN1TN4n",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84e57c10-8055-49a6-b4f4-085df62eaadc",
              "name": "mensagem",
              "value": "={{ $('Redis2').item.json.messages.join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2608,
        1632
      ],
      "id": "9a0f9676-73a3-4915-9430-9a911428bbe6",
      "name": "Mensagem final"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Set text message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Set text message": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "chave block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chave block": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Mensagem final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem final": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9e56c124-a55e-49d9-8f26-544fb370529d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d03dbf50fb98b5e993d5fe41b250b5d1e13f4c437c386c496cfaa6518856ef3"
  },
  "id": "z32pzXezr8yEnkOm",
  "tags": []
}