workflows/Projetos práticos/Campanha.json
{
  "name": "Campanha",
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "dados_da_planilha",
        "options": {
          "includeBinaries": false
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -192,
        320
      ],
      "id": "affb8484-5ddf-4ba6-b319-7ce9b3a9e4a9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        544
      ],
      "id": "ae717aec-4c51-4db6-a4be-ae24aadb3273",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5RgBvMSOZK4qXMdL",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Monte o e-mail final seguindo exatamente esta estrutura:\n\n<p>Olá, aqui está a tabela do relatório de campanhas gerada entre as datas presentes no relatório.</p>\n\n<h3>Resumo de Campanhas</h3> <table border=\"1\" style=\"border-collapse: collapse; width: 100%; font-family: sans-serif;\"> <thead> <tr style=\"background-color: #f2f2f2; text-align: center;\"> <th style=\"padding: 10px;\">Campanha</th> <th style=\"padding: 10px;\">Total de Ligações</th> <th style=\"padding: 10px;\">Sucesso</th> <th style=\"padding: 10px;\">Não Sucesso</th> </tr> </thead> <tbody style=\"text-align: center;\"> {{ $node[\"Análise\"].json.text }} </tbody> </table>\n\n<p>As informações detalhadas seguem abaixo no anexo.</p>\n\nREGRA: Retorne apenas o código HTML pronto para o Gmail. Não use blocos de código (```).",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        608,
        320
      ],
      "id": "456ec61c-ba93-4f03-8547-e13684d70476",
      "name": "Resumo"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Atue como um Analista de Dados rigoroso.\n\nDADOS DA PLANILHA: {{ $input.all().map(item => JSON.stringify(item.json)).join('\\n') }}\n\nTAREFA:\n\nIdentifique os nomes das Campanhas na coluna \"Campanha\".\n\nConte quantas linhas existem para cada campanha (isso é o Total de Ligações).\n\nConte quantas linhas têm o status de sucesso (geralmente onde houve atendimento/venda) para a coluna Sucesso.\n\nCalcule o Não Sucesso (Total de Ligações menos os Sucessos).\n\nGere APENAS as linhas HTML (tags <tr><td>) com esses resultados.\n\nREGRA: Não use blocos de código (```). Não escreva textos. Retorne apenas as linhas <tr>.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        256,
        320
      ],
      "id": "35edeff8-55bf-48c5-9f9d-a9dd4a01a4d2",
      "name": "Análise"
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "Relatório de Histórico de Chamadas"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        448,
        32
      ],
      "id": "637d9b12-fff7-4fb9-b11f-f61bd9e6194f",
      "name": "Criar documento",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f4cd9a3a-33cc-4607-a2d3-c75cd1da07a2",
      "name": "Conversão HTML",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -864,
        320
      ],
      "id": "c6a6d1b8-cfd0-467f-aadf-86ee35d42764",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "sendTo": "ingrid.ferreira@headsetbrasil.com",
        "subject": "=Relatório Estratégico de Operações - {{ $now.format('MM/yyyy') }}",
        "message": "={{ $('Resumo').item.json.text }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1264,
        320
      ],
      "id": "01924ef7-365b-4ba0-96a8-aed7275b0d28",
      "name": "Send a message1",
      "webhookId": "a02f034b-3960-42cb-ad82-d55a7c8f1503",
      "credentials": {
        "gmailOAuth2": {
          "id": "Gajx1xFg76QYpaI9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jthHHwx5gEcqPKEDJzgSysunku5q3DCk3Rem8FoVWXg",
          "mode": "list",
          "cachedResultName": "Relatório de Histórico de Chamadas (8)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jthHHwx5gEcqPKEDJzgSysunku5q3DCk3Rem8FoVWXg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1382140524,
          "mode": "list",
          "cachedResultName": "Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jthHHwx5gEcqPKEDJzgSysunku5q3DCk3Rem8FoVWXg/edit#gid=1382140524"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -640,
        320
      ],
      "id": "557e4723-dc14-4799-9142-eae599f23bbd",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pKvq2BTKYTesNeZZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4251a9de-e0a4-4ec6-b4fb-f70c39dbeb9a",
              "leftValue": "={{ $json.col_4 }}{{ $json['Ligação'] }}{{ $json['Tabulação'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -416,
        320
      ],
      "id": "922f3f25-a91b-43af-bd61-65eee51ef7fd",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1ZTIWWP7LfIuUVPZaMxZKhrMUEATGBrBusTqc7DdQKZE",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1008,
        320
      ],
      "id": "89097021-7909-4b2e-97ad-e9644ffb42d7",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2cVcc20TyU2jrMNl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "locationChoice": "location",
              "text": "={{ $('Resumo').item.json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        720,
        16
      ],
      "id": "3789d91e-06da-49e1-a8e7-f0f9ae73af80",
      "name": "Update a document",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "texto_limpo",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        192,
        16
      ],
      "id": "34f69e6c-c2bf-4119-96cf-2b4dfd70c7b0",
      "name": "HTML",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        32,
        320
      ],
      "id": "8a4c45eb-2ea3-493c-9c7e-c03cd22e0328",
      "name": "Wait",
      "webhookId": "0266ea8b-ceea-4476-9106-f71e5c21fd40"
    }
  ],
  "pinData": {},
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Análise",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Resumo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Análise": {
      "main": [
        [
          {
            "node": "Resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumo": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Análise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a11c9b09-806f-4ef6-b64a-15f534caae22",
  "meta": {
    "instanceId": "b8e3032e25bde5b8684329f4268e777be3615a7d6f33587d7caeb527c4584996"
  },
  "id": "ynFawTQdakK6AFZPodwHh",
  "tags": []
}