workflows/Projetos práticos/RAG.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        -16
      ],
      "id": "3995e24d-37bf-4066-8c48-1ec26b683988",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03075183-4d1e-43ed-afd4-d42d5fb2b979",
              "name": "file_id",
              "value": "1TFwACd-RBilpPMDbpgqIOCp-rzQ9rQf1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        -16
      ],
      "id": "c08153de-92c4-4647-9774-ae7078e78f6d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        -16
      ],
      "id": "7d32d641-0429-43f0-b261-6bca46ad0775",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2cVcc20TyU2jrMNl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        640,
        -16
      ],
      "id": "eaf2d15a-3175-4e0d-9405-d79bdf478fd1",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "YtPExLXrRYGELSgb",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        776,
        208
      ],
      "id": "486dda2c-7349-4f4c-961c-28dc9df6c5f2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        648,
        208
      ],
      "id": "832441c7-ed1d-42ab-9dd4-2ec4f7ae21b2",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "yjtBIq56TYBYtb8q",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "### Indexação",
        "height": 448,
        "width": 1360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -376,
        -96
      ],
      "typeVersion": 1,
      "id": "dc9a705c-03c7-4413-8450-cd7ebe7c5f11",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -256,
        520
      ],
      "id": "73cf9a48-4d02-4654-81b2-3acdf980f461",
      "name": "When chat message received",
      "webhookId": "7a83551b-72ec-473e-b40b-3d45b7d14326"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        24,
        520
      ],
      "id": "77f0a3ac-86a8-4b3e-97b7-f7968f899077",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        744
      ],
      "id": "d721e4ab-e252-4d56-a849-9554ab69b1ce",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yjtBIq56TYBYtb8q",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use essa tool quando o usuário tiver alguma dúvida",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        224,
        744
      ],
      "id": "7a291f6c-06fc-4552-b940-67c6f267b585",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "YtPExLXrRYGELSgb",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        952
      ],
      "id": "27262d9e-cb89-4bcc-951e-3c49c4429691",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "yjtBIq56TYBYtb8q",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        96,
        744
      ],
      "id": "0e8677e3-f2dd-45b5-9048-0e2226af5e57",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "jnBRJkamL8D2ZJvw",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "v_documents",
        "filterType": "string",
        "filterString": "=file_id=eq.{{$json.file_id}}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        -16
      ],
      "id": "065c2fac-5de4-4c57-98e5-3d172cf02d25",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "YtPExLXrRYGELSgb",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "### Recuperação e geração de textos.",
        "height": 672,
        "width": 1088
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        432
      ],
      "typeVersion": 1,
      "id": "9544060d-f4b1-4e51-bbbf-aa5bbd8bff58",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "93adff7e-651f-4036-9100-8c303e8dd115",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8e3032e25bde5b8684329f4268e777be3615a7d6f33587d7caeb527c4584996"
  },
  "id": "n_PkmI747-0JnkgN7ulV5",
  "tags": []
}