workflows/Projetos práticos/relatorios.json
{
  "name": "relatorios",
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "dados_da_planilha",
        "options": {
          "includeBinaries": false
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        288,
        1472
      ],
      "id": "bb185e10-eddd-44a4-acc1-133d891dd5d1",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        928,
        1696
      ],
      "id": "87516f06-941e-4c4e-a474-dac817c3170a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OAdg4ZBOlpL9Gxjo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Monte o e-mail final seguindo exatamente esta estrutura:\n\n<p>Olá, aqui está a tabela do relatório de campanhas gerada entre as datas presentes no relatório.</p>\n\n<h3>Resumo de Campanhas</h3> <table border=\"1\" style=\"border-collapse: collapse; width: 100%; font-family: sans-serif;\"> <thead> <tr style=\"background-color: #f2f2f2; text-align: center;\"> <th style=\"padding: 10px;\">Campanha</th> <th style=\"padding: 10px;\">Total de Ligações</th> <th style=\"padding: 10px;\">Sucesso</th> <th style=\"padding: 10px;\">Não Sucesso</th> </tr> </thead> <tbody style=\"text-align: center;\"> {{ $node[\"Análise\"].json.text }} </tbody> </table>\n\n<p>As informações detalhadas seguem abaixo no anexo.</p>\n\nREGRA: Retorne apenas o código HTML pronto para o Gmail. Não use blocos de código (```).",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1088,
        1472
      ],
      "id": "d687bccc-89eb-4d51-9975-7ef72e598022",
      "name": "Resumo"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Atue como um Analista de Dados rigoroso.\n\nDADOS DA PLANILHA: {{ $input.all().map(item => JSON.stringify(item.json)).join('\\n') }}\n\nTAREFA:\n\nIdentifique os nomes das Campanhas na coluna \"Campanha\".\n\nConte quantas linhas existem para cada campanha (isso é o Total de Ligações).\n\nConte quantas linhas têm o status de sucesso (geralmente onde houve atendimento/venda) para a coluna Sucesso.\n\nCalcule o Não Sucesso (Total de Ligações menos os Sucessos).\n\nGere APENAS as linhas HTML (tags <tr><td>) com esses resultados.\n\nREGRA: Não use blocos de código (```). Não escreva textos. Retorne apenas as linhas <tr>.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        736,
        1472
      ],
      "id": "b7e82144-7761-43a3-8011-c0673e1b8b38",
      "name": "Análise"
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "Relatório de Histórico de Chamadas"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        928,
        1184
      ],
      "id": "ba902d68-502b-4d84-bdc1-8377dfa45a5f",
      "name": "Criar documento",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "UP67FcVUmLq6Ks2z",
          "name": "Google Docs account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        480,
        1152
      ],
      "id": "d9991c29-d0d1-4d6d-8e88-5b5034e97468",
      "name": "Conversão HTML",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        1472
      ],
      "id": "459e912c-337d-46e9-be83-49ea82da4b47",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "sendTo": "ingrid.ferreira@headsetbrasil.com",
        "subject": "=Relatório Estratégico de Operações - {{ $now.format('MM/yyyy') }}",
        "message": "={{ $('Resumo').item.json.text }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1744,
        1472
      ],
      "id": "b67b5a0f-b857-457a-8478-7c161d243af5",
      "name": "Send a message1",
      "webhookId": "a02f034b-3960-42cb-ad82-d55a7c8f1503",
      "credentials": {
        "gmailOAuth2": {
          "id": "KxkcyVwYxlXY3PHY",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jthHHwx5gEcqPKEDJzgSysunku5q3DCk3Rem8FoVWXg",
          "mode": "list",
          "cachedResultName": "Relatório de Histórico de Chamadas (8)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jthHHwx5gEcqPKEDJzgSysunku5q3DCk3Rem8FoVWXg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1382140524,
          "mode": "list",
          "cachedResultName": "Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jthHHwx5gEcqPKEDJzgSysunku5q3DCk3Rem8FoVWXg/edit#gid=1382140524"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        1472
      ],
      "id": "fa79be7a-8ad4-498f-a571-cd88453c84af",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fEQZxc2vyP1Ab07M",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4251a9de-e0a4-4ec6-b4fb-f70c39dbeb9a",
              "leftValue": "={{ $json.col_4 }}{{ $json['Ligação'] }}{{ $json['Tabulação'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        64,
        1472
      ],
      "id": "8e37f546-120d-4f76-9eac-a2bba2332ead",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1ZTIWWP7LfIuUVPZaMxZKhrMUEATGBrBusTqc7DdQKZE",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1488,
        1472
      ],
      "id": "bf6b0bf6-b109-41fb-8219-633fe2ad1b02",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VEDGRXLGcIcGoa6w",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "locationChoice": "location",
              "text": "={{ $('Resumo').item.json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1200,
        1168
      ],
      "id": "1ef28e68-88be-4a92-a92d-bb8d33bd53c4",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "UP67FcVUmLq6Ks2z",
          "name": "Google Docs account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "texto_limpo",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        672,
        1168
      ],
      "id": "75e58391-12d7-47e9-b450-43c3272d3c87",
      "name": "HTML",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        1472
      ],
      "id": "6b62c101-f913-4412-84ba-569600d6dce5",
      "name": "Wait",
      "webhookId": "0266ea8b-ceea-4476-9106-f71e5c21fd40"
    }
  ],
  "pinData": {},
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Análise",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Resumo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Análise": {
      "main": [
        [
          {
            "node": "Resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumo": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversão HTML": {
      "main": [
        []
      ]
    },
    "Criar documento": {
      "main": [
        []
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        []
      ]
    },
    "HTML": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Análise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d69d14cc-7e2e-445e-9211-1710a7831809",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "426fe311161d7f1f4f64dd898df580e2c7b62c8c50548d914160cc4832c991db"
  },
  "id": "zmvz0YCa2l1cNyP0YqAUy",
  "tags": []
}