workflows/Projetos práticos/relatorios.json
{
  "name": "relatorios",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        -16
      ],
      "id": "d0ae33d7-74aa-44f1-b4e6-322f49711022",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "62dcae30-cbf3-4577-b25b-67d46f00fcbb",
              "name": "data_inicio",
              "value": "={{ $today.minus({month:1}).startOf('month').toFormat('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -208
      ],
      "id": "8b6113cc-5924-4453-bb29-169c202fbe17",
      "name": "Data dinâmica - Início mês anterior",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46a059f4-9307-43e8-b62e-66e5c5cef7ce",
              "name": "data_inicio",
              "value": "={{ DateTime.fromObject({year:2025, month: 8, day:1}).toFormat('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -16
      ],
      "id": "e68465cc-f3a4-4221-a1b7-01328d2ccfaa",
      "name": "Obter data filtragem"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ICouAwARWSE5NijmQMRZf66RKAJqY5RGUWt2A3BMvMg",
          "mode": "list",
          "cachedResultName": "teste",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ICouAwARWSE5NijmQMRZf66RKAJqY5RGUWt2A3BMvMg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ICouAwARWSE5NijmQMRZf66RKAJqY5RGUWt2A3BMvMg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        -16
      ],
      "id": "84f8306d-9898-4a6d-b029-a6275515988d",
      "name": "Obter dados",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fEQZxc2vyP1Ab07M",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "057f9e64-a175-4c2b-8597-26c5c4e871a3",
              "leftValue": "={{ $json.data }}",
              "rightValue": "={{ $('Obter data filtragem').item.json.data_inicio }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        368,
        -16
      ],
      "id": "01961a88-11e4-4b19-bb3f-5d3534433be0",
      "name": "Filter"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "dados",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        592,
        -16
      ],
      "id": "02523bda-d1d7-4ff9-928d-7beb04d8d87d",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Obter data filtragem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter dados": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter data filtragem": {
      "main": [
        [
          {
            "node": "Obter dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0b2eb2a0-aa8d-446b-a64e-9ccc9a4f68b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "426fe311161d7f1f4f64dd898df580e2c7b62c8c50548d914160cc4832c991db"
  },
  "id": "aVcAIgfqTVDfjaUtZljgd",
  "tags": []
}